<?xml version="1.0" encoding="UTF-8"?>
<programs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="GameSaveInfo20.xsd"
	majorVersion="2" minorVersion="0" updated="2011-12-25T00:00:00">
  <!--Contains profiles for backing up system-related files-->
  <system name="GamesForWindows" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>Games for Windows</title>
    <version os="Windows">
      <locations>
        <path ev="localappdata" path="Microsoft\XLive\Content"/>
      </locations>
      <files type="AccountData">
        <include/>
      </files>
      <contributor>MASGAU</contributor>
    </version>
  </system>
  <system name="MASGAU" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>MASGAU Automatic Save Game Archive Utility</title>
    <version>
      <title>MASGAU Custom XML</title>
      <locations>
        <path ev="commonapplicationdata" path="MASGAU"/>
      </locations>
      <files type="CustomXML">
        <include filename="custom.xml"/>
      </files>
      <identifier filename="custom.xml"/>
      <contributor>MASGAU</contributor>
    </version>
  </system>
  <system name="Raptr" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>Raptr</title>
    <version os="Windows">
      <locations>
        <path ev="appdata" path="Raptr"/>
      </locations>
      <files type="Data">
        <include filename="raptr*">
          <exclude filename="*.exe"/>
        </include>
        <include path="data"/>
        <include path="Unknown"/>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
  <system name="RGSC" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>Rockstar Games Social Club</title>
    <version os="Windows">
      <locations>
        <path ev="localappdata" path="Rockstar Games\RGSC"/>
        <path ev="userdocuments" path="Rockstar Games\Social Club"/>
      </locations>
      <files type="AccountData">
        <include/>
      </files>
      <contributor>Arc Angel</contributor>
      <contributor>AvvA</contributor>
    </version>
  </system>
  <system name="Tomboy" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>Tomboy</title>
    <version>
      <locations>
        <path ev="appdata" path="Tomboy"/>
      </locations>
      <files>
        <include path="notes"/>
      </files>
      <files type="Settings">
        <include path="config"/>
      </files>
      <contributor>MASGAU</contributor>
    </version>
  </system>
  <system name="UPlay" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>UPlay</title>
    <version os="Windows">
      <locations>
        <path ev="installlocation" path="Ubisoft\Ubisoft Game Launcher"/>
        <registry root="local_machine" key="SOFTWARE\UbiSoft\Launcher" value="InstallDir"/>
      </locations>
      <files type="Data">
        <include path="storage">
          <exclude path="storage\temp"/>
        </include>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
  <system name="Xfire" added="2012-08-03T22:17:03" updated="2012-08-03T22:17:03">
    <title>Xfire</title>
    <version os="Windows">
      <locations>
        <path ev="allusersprofile" path="Xfire"/>
      </locations>
      <files type="Data">
        <include/>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
</programs>