<?xml version="1.0" encoding="UTF-8"?>
<programs majorVersion="2" minorVersion="0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="games.xsd" date="2012-07-11T17:37:03">
  <!--Contains profiles for backing up system-related files-->
  <system name="GamesForWindows">
    <title>Games for Windows</title>
    <version os="Windows">
      <locations>
        <path ev="localappdata" path="Microsoft\XLive\Content"/>
      </locations>
      <files type="AccountData">
        <save/>
      </files>
      <contributor>SanMadJack</contributor>
    </version>
  </system>
  <system name="MASGAU">
    <title>MASGAU Automatic Save Game Archive Utility</title>
    <version>
      <title>MASGAU Custom XML</title>
      <locations>
        <path ev="installlocation" path="MASGAU"/>
        <registry root="local_machine" key="SOFTWARE\MASGAU" value="InstallPath"/>
      </locations>
      <files type="CustomXML">
        <save path="data" filename="custom.xml"/>
      </files>
      <identifier path="data" filename="custom.xml"/>
      <contributor>SanMadJack</contributor>
    </version>
  </system>
  <system name="Raptr">
    <title>Raptr</title>
    <version os="Windows">
      <locations>
        <path ev="appdata" path="Raptr"/>
      </locations>
      <files type="Data">
        <save filename="raptr*">
          <except filename="*.exe"/>
        </save>
        <save path="data"/>
        <save path="Unknown"/>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
  <system name="RGSC">
    <title>Rockstar Games Social Club</title>
    <version os="Windows">
      <locations>
        <path ev="localappdata" path="Rockstar Games\RGSC"/>
      </locations>
      <files type="Saves">
        <save/>
      </files>
      <contributor>AvvA</contributor>
    </version>
  </system>
  <system name="Tomboy">
    <title>Tomboy</title>
    <version>
      <locations>
        <path ev="appdata" path="Tomboy"/>
      </locations>
      <files type="Saves">
        <save path="notes"/>
      </files>
      <files type="Settings">
        <save path="config"/>
      </files>
      <contributor>SanMadJack</contributor>
    </version>
  </system>
  <system name="UPlay">
    <title>UPlay</title>
    <version os="Windows">
      <locations>
        <path ev="installlocation" path="Ubisoft\Ubisoft Game Launcher"/>
        <registry root="local_machine" key="SOFTWARE\UbiSoft\Launcher" value="InstallDir"/>
      </locations>
      <files type="Data">
        <save path="storage">
          <except path="storage\temp"/>
        </save>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
  <system name="Xfire">
    <title>Xfire</title>
    <version os="Windows">
      <locations>
        <path ev="allusersprofile" path="Xfire"/>
      </locations>
      <files type="Data">
        <save/>
      </files>
      <contributor>Arc Angel</contributor>
    </version>
  </system>
</programs>